.page-header
    h3(ng-cloak) Welcome, {{ name }}!

.jumbotron
    h1(ng-cloak) Remaining: {{ budgetLeft | currency}}

.row
    .col-md-4.text-center(ng-repeat="charity in charities", charity-history, charity="charity")
