input(type='checkbox' name='charity1' id='charity1').hidden.panelcheckbox
input(type='checkbox' name='charity2' id='charity2').hidden.panelcheckbox
input(type='checkbox' name='charity3' id='charity3').hidden.panelcheckbox
input(type='checkbox' name='charity4' id='charity4').hidden.panelcheckbox
label(for='charity1').panel.panel-default
	.panel-body Charity1
label(for='charity2').panel.panel-default
	.panel-body Charity2
label(for='charity3').panel.panel-default
	.panel-body Charity3
label(for='charity4').panel.panel-default
	.panel-body Charity4
