nav.navbar.navbar-default
    .container
        .navbar-header
            .navbar-brand Budgetarity

        ul.nav.navbar-nav.navbar-right
            li
                a(href="#") Charities
            li
                a(href="#") Settings
